@import "tailwindcss";

@theme {
    --color-bg: #080e13;
    --color-panels: #080e13;
    --color-header-bg: #0c1419;
    --color-border: #172225;
    --color-button-bg: #101a1f;
    --color-text: #bcd3ce;
    --color-heading: #45e0c7;

    --color-primary: #4fcab1;
    --color-danger: #c5654a;
    --color-info: #7adcca;
    --color-muted: #62827a;
}

:root {
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.control-btn {
    @apply w-20 h-16 bg-button-bg border border-border text-heading text-lg font-bold rounded-md hover:bg-heading/60 hover:text-bg transition flex items-center justify-center;
}
